body{background-color: #fff;
font-family: "Open Sans", serif;
font-size: 100%;
color: black;

}
body h1{color: black;}
aside{ background-color: #333;
    overflow: hidden;
}
aside img{width: 80px;
    float: left;

}
aside .logotype{font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: +13px;

}
aside h3{
    margin-top:50px ;
    font-size: 28px;
    


}
aside ul{list-style: none;}
aside ul li{color:#fff;
    display:block;
    margin-top: 20px;
    text-decoration: none;
    transition: transform .4s ease;
    

}
aside ul li:hover, aside a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);


}
main .features{
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width:75%
}
main .features h1{font-size: 50px;}
form {margin-left: 32%;
width: 500px;
margin-top: 50px;
}
#homebtn{
    color:#fff;
    font-size: 120%;
    margin-left: 7%;
    word-spacing: 20%;
}
.features h1{
    text-align: center;
    color:black;
}
